* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Battambang", sans-serif;
}
body {
  width: 100%;
}
html {
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}
.input_header {
  width: 70%;
  height: 40px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input_header ul {
  list-style: none;
  display: flex;
  gap: 10px;
  font-size: 14px;
}
.input_header ul li {
  display: flex;
  align-items: center;
  gap: 4px;
}
.contact p {
  color: #818181;
  font-size: 13px;
}

.contact li {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  color: #444444;
}
.contact i {
  font-size: 12px;
}
.location li {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  color: #282727;
}
.location p {
  color: #818181;
  font-size: 13px;
}
.location a {
  text-decoration: none;
  color: #282727;
}
.fa-square-facebook {
  color: #0966ff;
  font-size: 22px;
}
.fa-tiktok {
  font-size: 22px;
}
.fa-telegram {
  font-size: 22px;
  color: #239ad3;
}
.fa-location-dot {
  color: red;
  font-size: 22px;
}

/* Container */
.Container {
  width: 70%;
  margin: auto;
}
.input_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  list-style: none;
  margin-top: 10px;
  gap: 10px;
}
.input_container h3 {
  color: #444444;

  margin-right: 20px;
}
.input_container li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  color: #818181;
}
/* Nav */
.nav_bar {
  padding: 10px 0;
  width: 70%;
  margin: auto;
}
.category-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
}
.category-items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 40%;
  gap: 10px;
  padding: 30px;
  border: 1px solid #e1e0e0;
}
.category-items img {
  width: 40px;
}
.category-items a {
  text-decoration: none;
  color: #818181;
  font-size: 14px;
  font-weight: bold;
}
.category-items a:hover {
  color: #13a36c;
}
.service-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 25px; /* space between boxes */
  padding: 15px 0;
}

.item {
  display: flex;
  align-items: center;
  align-items: center;
  color: #282727;
  font-size: 14px;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #e1e0e0;
  gap: 10px;
}
.item img {
  width: 40px;
}
/* Main */

.main {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.brand {
  /* display: flex;
  flex-direction: column;
  gap: 10px;
  width: 15%;
  position: fixed;
  top: 0; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 15%;
  position: sticky;
  top: 1px; /* distance from top */
  align-self: flex-start;
  height: fit-content;
}

.input_brand {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.brand p {
  width: 100%;
  border: 1px solid #d4d4d4;
  padding: 10px 0;
  font-weight: bold;
  font-size: 14px;
  color: #444444;
  text-align: center;
  background-color: #f1f1f1;
}
.brand img {
  width: 150px;
}
.banner_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 85%;
}
.banner {
  width: 100%;
}
.banner_header {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}
.banner_header img {
  width: 150px;
  padding: 10px;
}
.input_banner {
  width: 100%;
  height: auto;
}
.input_banner img {
  width: 100%;
  height: auto;
  margin-top: -10px;
}
/* Card */
.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 equal columns */
}
.card_item {
  border: 1px solid #e1e0e0;
}

.card img {
  width: 100%;
}
